/* @media only screen and (min-width: 1200px) {
  .main {
    margin: 0 20vh;
  }
  .nav-item:first-child {
    margin-right: auto;
    margin-left: 10vh;
  }
  .nav-item:nth-last-child(2) {
    margin-left: auto;
  }
  .nav-item:nth-last-child(2), .nav-item:last-child {
    margin-right: 1vh;
  }
  .nav-item:last-child {
    margin-right: 10vh;
  }
  .navbar-nav {
    padding: 2vh 0;
    margin: auto 0;
    display: flex;
    justify-content: space-evenly;
  }
  .navbar {
    font-size: 2vh;
    padding: 0;
    margin: 10vh 20vh;
    display: flex;
  }
  .center:first-child {
    margin: 0;
  }
  .nav-item, .logo {
    margin: auto 3vh;
    display: inline;
  }
  .nav-link {
    justify-content: space-around;
    display: inline;
  }
  .nav-item:hover {
    transform: scale(1.5);
  }
} */

/* @media only screen and (max-width: 1200px) and (min-width: 900px) {
  .main {
    margin: 0 5vh;
  }
  .nav-item:first-child {
    margin-right: auto;
    margin-left: 10vh;
  }
  .nav-item:nth-last-child(2) {
    margin-left: auto;
  }
  .nav-item:nth-last-child(2), .nav-item:last-child {
    margin-right: 1vh;
  }
  .nav-item:last-child {
    margin-right: 10vh;
  }
  .navbar-nav {
    padding: 2vh 0;
    margin: auto 0;
    display: flex;
    justify-content: space-evenly;
  }
  .navbar {
    font-size: 2vh;
    padding: 0;
    margin: 10vh 5vh;
    display: flex;
  }
  .center:first-child {
    margin: 0;
  }
  .nav-item, .logo {
    margin: auto 3vh;
    display: inline;
  }
  .nav-link {
    justify-content: space-around;
    display: inline;
  }
  .nav-item:hover {
    transform: scale(1.5);
  }
}

@media only screen and (min-width: 500px) and (max-width: 900px) {
  .link-text {
    display: none;
  }
  .main {
    margin: 0 5vh;
  }
  .nav-item:nth-last-child(2) {
    margin-left: auto;
  }
  .nav-item:nth-last-child(2), .nav-item:last-child {
    margin-right: 1vh;
  }
  .nav-item:last-child {
    margin-right: 10vh;
  }
  .navbar-nav {
    padding: 2vh 0;
    margin: auto 0;
    display: flex;
    justify-content: space-evenly;
  }
  .navbar {
    font-size: 2vh;
    padding: 0;
    margin: 10vh 5vh;
    display: flex;
  }
  .center:first-child {
    margin: 0;
  }
  .nav-item, .logo {
    margin: auto 3vh;
    display: inline;
  }
  .nav-link {
    justify-content: space-around;
    display: inline;
  }
  .nav-item:hover {
    transform: scale(1.5);
  }
}

@media only screen and (max-width: 500px) {
  .link-text {
    display: none;
  }
  .main {
    margin: 0 5vh;
  }
  .nav-item:nth-last-child(2), .nav-item:last-child {
    transform: scale(0.6);
  }
  .nav-item:nth-last-child(2):hover, .nav-item:last-child:hover {
    transform: scale(0.8);
    transition: 0.6s ease;
  }
  .nav-item:nth-last-child(2) {
    margin-left: 2vh;
  }
  .nav-item:nth-last-child(2), .nav-item:last-child {
    margin-right: 0;
  }
  .nav-item:last-child {
    margin-right: 8vh;
  }
  .navbar-nav {
    padding: 2vh 0;
    margin: auto 0;
    display: flex;
    justify-content: space-evenly;
  }
  .navbar {
    font-size: 2vh;
    padding: 0;
    margin: 10vh 5vh;
    display: flex;
  }
  .center:first-child {
    margin: 0;
  }
  .nav-item, .logo {
    margin: auto 3vh;
    display: inline;
  }
  .nav-link {
    justify-content: space-around;
    display: inline;
  }
  .nav-item:hover {
    transform: scale(1.5);
  }
} */
